[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = ">=2023.7.22"
boto3 = "~=1.28.85"
requests = "~=2.32.0"
geoip2 = "~=4.7.0"
# we need to install gunicorn, uvicorn, uvloop, httptools, and fastapi
# so it starts in the virtualenv instead of the one in the docker image
gunicorn = "*"
uvicorn = "*"
fastapi = {extras = ["all"], version = "*"}
uvloop = "*"
httptools = "*"
aiohttp = {extras = ["speedups"], version = "*"}
schemathesis = "*"
google-cloud-storage = "*"
sentry-sdk = {extras = ["fastapi"], version = "*"}
google-cloud-logging = "*"

[dev-packages]
responses = "*"
pytest = "*"
pytest-cov = "*"
aioresponses = "*"

[requires]
python_version = "3.11"
