[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = ">=2020.4.5.1"
boto3 = "1.13.19"
requests = "2.22.0"
geoip2 = "3.0.0"
# we need to install gunicorn, uvicorn, uvloop, httptools, and fastapi
# so it starts in the virtualenv instead of the one in the docker image
gunicorn = "*"
uvicorn = "*"
fastapi = "*"
uvloop = "*"
httptools = "*"
aiohttp = {extras = ["speedups"], version = "*"}
# Note that this dependency  even though Sentry has been removed from the code.
# Attempting to remove it updates many of the other packages that were last updated
# in July 2020 and it's too much change to test/monitor for not much benefit.
sentry-sdk = "*"

[dev-packages]
responses = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
