openapi: 3.0.0

servers:
  - url:  https://spocs.getpocket.com
info:
  description: "APIs to interact with sponsored content (\"spocs\") for Firefox, while preserving privacy."
  version: '2.1'
  title: Firefox Spocs
  contact:
    email: mathijs@getpocket.com
paths:
  /spocs:
    post:
      summary: Get sponsored content
      description: Get a list of spocs based on region and pocket_id from AdZerk. The IP address is used to deduce a rough geographic region, for example "Texas" in the U.S. or "England" in the U.K. The IP is not stored or shared with AdZerk to preserve privacy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpocRequest'
      responses:
        '200':
          description: Responds with settings and a list of spocs.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Success'
                  - type: object
                    required:
                      - spocs
                    properties:
                      settings:
                        $ref: '#/components/schemas/Settings'
                      spocs:
                        $ref: "#/components/schemas/SpocFeed"
  /user:
    delete:
      summary: Delete a user's personal data from AdZerk
      description: Used when a user opts-out of sponsored content to delete the user's data from AdZerk.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pocket_id:
                  description: ID that uniquely identifies a session.
                  example: "{12345678-8901-2345-aaaa-bbbbbbcccccc}"
                  type: string
      responses:
        '200':
          description: Successfully deleted user data from AdZerk.

components:
  schemas:
    SpocRequest:
      type: object
      required:
        - version
        - consumer_key
        - pocket_id
        - placements
      properties:
        version:
          type: integer
          description: API version. Currently `1` is the only version.
          format: int32
          minimum: 1
          maximum: 1
          default: 1
          example: 1
        consumer_key:
          type: string
          description: Identifies that the request is coming from Firefox.
          example: 40249-e88c401e1b1f2242d9e441c4
        pocket_id:
          type: string
          description: ID that uniquely identifies a session.
          example: "{12345678-8901-2345-aaaa-bbbbbbcccccc}"
        placements:
          type: array
          items:
            $ref: "#/components/schemas/Placement"

    Placement:
      type: object
      description: https://dev.adzerk.com/reference/request
      required:
        - name
      properties:
        name:
          type: string
          example: spocs
          description: Corresponds to the key in the response object.
        ad_types:
          type: array
          description: https://dev.adzerk.com/docs/ad-sizes
          items:
            type: integer
        zone_ids:
          type: array
          description: https://dev.adzerk.com/docs/zones-overview
          items:
            type: integer
        count:
          type: integer
          example: 20
          minimum: 1
          maximum: 20
          description: number of spocs to return for this placement


    Success:
      type: object
      properties:
        status:
          type: integer
          description: Indicates the response is successful.
          enum:
            - 1
        error:
          type: integer
          enum:
            - 0
    Error:
      type: object
      properties:
        status:
          type: integer
          enum:
            - 0
        error:
          type: integer
          description: Indicates the response is an error.
          enum:
            - 1
        errorData:
          type: string
          description: Descriptive error message.
          example: Cannot find layout variant


    #### Settings ####

    Settings:
      type: object
      required:
        - url
      properties:
        spocsPerNewTabs:
          type: integer
          minimum: 1
          example: 1
        domainAffinityParameterSets:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DomainAffinityParameterSet'
        timeSegments:
          type: array
          items:
            $ref: '#/components/schemas/TimeSegment'
        recsExpireTime:
          type: integer
          example: 5400
        version:
          type: string
          example: bc184fc1a56dde7e7879135781932fdb1dd5d235

    DomainAffinityParameterSet:
      type: object
      properties:
        recencyFactor:
          type: number
        frequencyFactor:
          type: number
        combinedDomainFactor:
          type: number
        perfectFrequencyVisits:
          type: number
        perfectCombinedDomainScore:
          type: number
        multiDomainBoost:
          type: number
        itemScoreFactor:
          type: number

    TimeSegment:
      type: object
      properties:
        id:
          type: string
        startTime:
          type: integer
        endTime:
          type: integer
        weightPosition:
          example: 1

    #### Spocs ####

    SpocFeed:
      oneOf:
        - type: array
          items:
            $ref: "#/components/schemas/SpocFeedItem"
        - type: object
          required:
          - title
          - flight_id
          - sponsor
          properties:
            title:
              type: string
              example: "Best of the Web"
            flight_id:
              type: integer
              example: 4321
            sponsor:
              type: string
              example: NextAdvisor
            items:
              type: array
              items:
                $ref: "#/components/schemas/SpocFeedItem"

    FeedItem:
      type: object
      properties:
        id:
          type: integer
          example: 30295
        title:
          type: string
          example: Why driving is hard—even for AIs
        domain:
          type: string
          example: arstechnica.com
        image:
          type: string
          example: "https://img-getpocket.cdn.mozilla.net/direct?url=https%3A%2F%2Fcdn.arstechnica.net%2Fwp-content%2Fuploads%2F2018%2F12%2FGettyImages-898172236-640x427.jpg&resize=w450"
        raw_image_src:
          type: string
          example: "https://cdn.arstechnica.net/wp-content/uploads/2018/12/GettyImages-898172236-640x427.jpg"
        published_timestamp:
          type: integer
          description: Unix timestamp of when this item was published
          example: 1543471200
        item_score:
          type: number
          example: 0.98
        parameter_set:
          type: string
          example: default
        domain_affinities:
          type: object
          additionalProperties:
            type: number
          example:
            vanguard.com: 0.9956
            wealthsimple.com: 0.9193

    SpocFeedItem:
      type: object
      allOf:
        - $ref: '#/components/schemas/FeedItem'
        - type: object
          properties:
            excerpt:
              type: string
              example: "Despite promises of 'soon,' the infrastructure to support the driverless future isn't there yet."
            shim:
              type: object
              properties:
                click:
                  type: string
                  example: "1234123asdf4tYadsfQ,xY-01BU12"
                impression:
                  type: string
                  example: "a0c3943asdf4tYadsf300,xY-01BU9aadc"
                delete:
                  type: string
                  example: "fdea123asdf4tYadsf1000,xY-01BUa654"
                save:
                  type: string
                  example: "4567123asdf4tYadsfQcda,xY-01BU123"
            expiration_timestamp:
              type: integer
              example: 1544939940
            flight_id:
              type: integer
              example: 432
            campaign_id:
              type: integer
              example: 784
            priority:
              type: integer
              description: The priority order. 1-100, 1 is highest priority.
              minimum: 1
              maximum: 100
            sponsor:
              type: string
              example: NextAdvisor
            context:
              type: string
              description: Deprecated. Use sponsor field instead.
              example: Sponsored by NextAdvisor
            cta:
              type: string
              description: Text to display on CTA button
              example: Learn more
            min_score:
              type: number
              example: 0.1
            parameter_set:
              type: string
              example: default
            caps:
              type: object
              properties:
                lifetime:
                  type: integer
                  example: 50
                flight:
                  type: object
                  properties:
                    count:
                      type: integer
                      example: 10
                    period:
                      type: integer
                      description: Period in seconds
                      example: 86400
                campaign:
                  type: object
                  properties:
                    count:
                      type: integer
                      example: 10
                    period:
                      type: integer
                      description: Period in seconds
                      example: 86400
